---
// import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import CardLayout from "../layouts/CardLayout.astro";
import Persona from "../components/Persona.astro";
---

<Layout>
	<CardLayout>
		<div class="h-[40cqh]">
			<Persona
				name="Alexander Nicolas Michael Sedeke"
				title="Full-stack Developer & Videographer"
				avatarUrl="https://github.com/alexandr.png"
				avatarRounded="full"
			/>
		</div>
		<div class="flex-1"></div>
	</CardLayout>
</Layout>
